%btn-primary {
     border: $black solid 1px;
     padding: 7px 20px;
     cursor: pointer;
     border-radius: 5px;
     background-color: transparent;
     color: $black;
     transition: 500ms;
     &:hover {
          background-color: $black;
          color: $white;
          text-decoration: none;
     }
}

%btn-secondary {
     appearance: none;
     -webkit-appearance: none;
     width: 100%;
     border: $gray-light solid 1px;
     background-color: $gray-lightest;
     cursor: pointer;
     color: black;
     transition: 500ms;
     font-weight: bold;
     font-size: 18px;
     padding: 10px 20px;
     &:hover {
          background-color: $gray-light;
     }
}

.button {
     display: inline-block;
     font-size: inherit;

     &--primary {
          @extend %btn-primary;
     }
     &--primary-contrast {
          @extend %btn-primary;
          background-color: $contrast;
          color: white;
          border-color: $contrast;
     }
     &--primary-inverse {
          @extend %btn-primary;
          border: $white solid 1px;
     }
     &--secondary {
          @extend %btn-secondary;
     }
     &--secondary-inverse {

     }
     &--contrast {
          background-color: $contrast;
          color: $white;
          padding: 18px 25px;
     }
     &--danger {
          @extend %btn-secondary;
          background-color: $red;
          color: white;
     }
     &--facebook {
          background-color: $facebook;
          color: white;
          &:hover {
               background-color: $primary-hover;
          }
     }
     &--google {
          background-color: $google;
          color: white;
          &:hover {
               background-color: $primary-hover;
          }
     }
     &--none {
          display: none;
          pointer-events: none;
     }
}

.social-logins{
     border-top: $black solid 1px;
     padding-top: $gutter;

     &__buttons {
          button {
               margin-bottom: $gutter-half/2;
               &:last-child {
                    margin-bottom: 0;
               }
          }
     }
     &__disclaimer {
          padding-bottom: $gutter-half;
     }
}

.inline-buttons {
     > * {
          margin-right: 5px;
          &:last-child {
               margin-right: 0;
          }
     }
}