h1, h2, h3, h4, h5, h6 {
     font-family: $heading-font;
     font-weight: 500;
     margin: 0 0 10px;
}

%heading,
.heading {
     &--sm {
          font-size: 18px;
     }
     &--md {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: $gutter-half;
     }
     &--lg {
          font-size: 36px;
     }
     &--xl {
          font-size: 42px;
     }
}