a, %link {
     text-decoration: none;
     color: $primary;
     transition: 300ms;
     font-weight: bold;
     &:hover {
          text-decoration: underline;
     }
}

.link {
     @extend %link;
     &--danger {
          color: $red;
     }
}