%unstyled-list {
     list-style: none;
     padding: 0;
}

.inline-list {
     @extend %unstyled-list;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     li {
          flex: 0 1 280px;
          padding: $spacer;
     }
     .fas {
          color: $primary;
          font-size: 42px;
     }
}

.list--unstyled {
     list-style: none;
     padding: 0;
}