%table,
table {
     border-collapse: collapse;
     width: 100%;
     font-size: 15px;
     th {
          background-color: $gray-lightest;
     }
     td {}
     th, td {
          border: $primary-darker solid 1px;
          padding: 10px;
          text-align: center;
     }
}