.accordion {
     &__list {
          padding: $gutter*2 $gutter;
     }

     &__item {
          background-color: $gray-lightest;
          margin-bottom: $gutter-half;
          padding: $gutter-half;
          border: $gray-darker solid 1px;
          &:last-child {
               margin-bottom: 0;
          }
          p {
               &:last-child {
                    margin-bottom: 0;
               }
          }
     }
     &__item-title {
          position: relative;
          font-weight: bold;
          cursor: pointer;
          p {
               cursor: pointer;
               width: 90%;
               margin: 0;
          }
          span {
               position: absolute;
               top: 0;
               right: 0;
               transition: 500ms;
               transform-origin: center;
          }
          &.active {
               span {
                    transform: rotate(180deg);
               }
          }
     }
     &__item-content {
          display: none;
          padding-top: $gutter-half;
          &.active {
               display: block;
          }
     }
}