.blog-card {
     padding: 10px;
     flex: 0 1 100%;
     @media screen and (min-width: $screen-sm){
          flex: 0 1 30%;
     }
     &__container {
          border: $gray-lighter solid 1px;
          border-radius: 5px;
          background-color: $white;
          overflow: hidden;
          display: flex;
          flex-flow: row wrap;
          height: 100%;
     }
     &__image {
          flex: 0 1 100%;
          img {
               width: 100%;
               height: 225px;
               object-fit: cover;
               object-position: center;
          }
     }
     &__content {
          flex: 0 1 100%;
          text-align: center;
     }
     &__content-container {
          padding: 10px 15px;
          font-size: 16px;
     }
     &__meta {
          > * {
               padding: 0 5px;
          }
     }
}