.blog {
     &__list {
          display: flex;
          background-color: $gray-lightest;
     }
     &__list-container {
          display: flex;
          justify-content: center;
          flex-flow: row wrap;
     }
}

.blog-post {
     &__header {
          min-height: 500px;
          position: relative;
          padding: 0 $gutter;
          &:after {
               content: '';
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background-color: rgba(0,0,0,0.5);
          }

          .container {
               position: absolute;
               bottom: 0;
               left: 0;
               right: 0;
               width: 100%;
               z-index: 1;
          }
     }
     &__header-content {
          padding: $gutter 0;
          color: $white;
          h1 {
               font-weight: bold;
          }
     }
     &__container {
          padding: $gutter;
     }
     &__content {
          width: 100%;
          max-width: 800px;
          margin: 0 auto;
          line-height: 1.8;
     }
     &__share {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
          margin-bottom: $gutter;
     }
}