$cb-horizontal-padding: $gutter-half;

.content-block {
     background-size: cover;
     &--spacing {
          padding: 80px $cb-horizontal-padding;
     }
     &--spacing-lg {
          padding: 100px $cb-horizontal-padding;
     }
     &--spacing-xl {
          padding: 120px $cb-horizontal-padding;
     }
     &--inverse {
          .content-block__content {
               @media screen and (min-width: $screen-sm){
                    order: 1;
               }
          }
          .content-block__image {
               @media screen and (min-width: $screen-sm){
                    order: 2;
               }
          }
     }

     &__content {
          font-size: 16px;
          width: 100%;
          &--center {
               margin: auto;
          }
     }
     &__container {
          padding: 0 $cb-horizontal-padding;
     }
     &__inner {
          display: flex;
          flex-flow: row wrap;
     }
     &__headline {
          font-weight: bold;
          &--xl {
               @extend %heading--xl;
               text-transform: uppercase;
          }
     }
     &__sub-head {
          font-weight: bold;
     }
     &__video {
          max-width: 500px;
          margin: $spacer auto;
     }
}

// Columns
.content-block__inner--two {
     flex-flow: row wrap;
     justify-content: space-between;
     @media screen and (min-width: $screen-sm){
          flex-flow: row nowrap;
     }
     > div {
          flex: 0 1 100%;
          @media screen and (min-width: $screen-sm){
               flex: 0 1 45%;
          }
     }
}

// Download
.download-app {
     .content-block__content {
          padding: $spacer 0;
     }
     .content-block__inner {
          align-items: center;
     }
     .content-block__image {
          text-align: center;
          padding-top: $spacer;
          display: flex;
          order: 2;

          img {
               width: 100%;
               max-width: 300px;
               margin: auto;
          }
     }
}

// Blocked Style
.blocked {
     padding: $gutter-half 0 $gutter;
     border-bottom: #eee solid 1px;
     margin-bottom: $gutter-half;
     h3 {
          font-weight: bold;
     }
     .search__input {
          margin-bottom: $gutter-half;
     }
}