$dashboard-menu-size: 300px;
$dashboard-section-size: calc(100% - #{$dashboard-menu-size});
$dashboard-section-padding: 40px;
$dashboard-boxes-margin: 10px;
$dashboard-welcome-font-size: 28px;

.dashboard {
     display: flex;
     flex-flow: row wrap;
     background-color: $gray-darker;
     > section {
          background-color: white;
          padding-bottom: $dashboard-section-padding;
     }
     &__menu {
          width: 100%;
          height: auto;
          @media screen and (min-width: $screen-sm){
               max-width: $dashboard-menu-size;
               height: 100%;
          }
          ul {
               list-style: none;
               padding: 15px;
               margin: 0;
               @media screen and (min-width: $screen-sm){
                    height: 100%;
               }
          }
          li {
               margin-bottom: 10px;
               &:last-child {
                    margin-bottom: 0;
               }
          }
          a {
               color: $white;
          }
          + section {
               width: 100%;
               height: 100%;
               // overflow: scroll;
               @media screen and (min-width: $screen-sm){
                    width: $dashboard-section-size;
               }
               > div {
                    padding: $dashboard-section-padding/2 $dashboard-section-padding;
                    h2 {
                         margin-top: 0;
                    }
               }
          }
     }

     &__highlights {
     }

     &__highlights-boxes {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          margin-left: -$dashboard-boxes-margin;
          margin-right: -$dashboard-boxes-margin;
     }

     &__highlights-box {
          flex: 1 0 25%;
          padding: 20px;
          background: $gray-lightest;
          border-radius: 5px;
          border: $primary-darker solid 1px;
          font-weight: bold;
          margin: $dashboard-boxes-margin;
     }

     &__highlights-welcome {}

     &__highlights-box-num {
          font-size: $dashboard-welcome-font-size;
     }

     &__booking-table {
          .approved {
               background-color: $green;
               color: white;
          }
          .declined {
               background-color: rgba(red, 0.5);
          }
          .btn {
               @extend %btn-primary;
               width: 100%;
               margin-bottom: 5px;
               background-color: white;
               &:last-child {
                    margin-bottom: 0;
               }
          }
     }
     &__booking-details {
          text-align: left;
     }
}