.footer {
     display: flex;
     flex-flow: row wrap;
     > div {
          flex: 0 1 100%;
     }

     h2 {
          color: $white;
     }

     ul {
          list-style: none;
          padding: 0;
          margin: 0;
          &.social-list {
               li {
                    display: inline-block;
                    margin-right: 5px;
                    &:last-child {
                         margin-right: 0;
                    }
               }
               a {
                    display: inline-block;
                    width: 48px;
                    height: 48px;
                    position: relative;
                    background-color: $contrast;
                    color: $white;
                    border-radius: 10%;
                    &:hover {
                         color: $white;
                         background-color: $secondary;
                    }
               }
               svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    font-size: 28px;
               }
          }
     }

     li {
          margin-bottom: 10px;
          color: $gray-lighter;
          font-size: 14px;
          font-family: $font-secondary;
          padding: 2px 0;
          a {
               color: $gray-lighter;
               &:hover {
                    color: $contrast;
                    text-decoration: none;
               }
          }
     }
     
     &__container-top {
          padding: 0 15px;
          background-color: $primary-darker;
          padding: 30px;
          text-align: center;
          @media screen and (min-width: $screen-sm){
               text-align: left;
          }
     }
     &__container-btm {
          padding: 15px;
          background-color: $secondary;
          text-align: center;
          color: $gray-light;
          font-size: 14px;
     }
     &__row {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          max-width: 940px;
          margin: 0 auto;
     }
     &__newsletter {
          background-color: $gray-darker;
          padding: $spacer*2;

          .form {
               max-width: 900px;
          }

          .form__row {
               align-items: center;
               justify-content: space-between;
               > div {
                    flex: 0 1 100%;
                    @media screen and (min-width: $screen-sm){
                         flex: 0 1 24%;
                    }
               }
               input {
                    width: 100%;
               }
          }
     }
}