.form-block {
     padding: $gutter*2 $gutter-half;
     background-color: $gray-lightest;
}

.form {
     margin-bottom: $gutter;
     &__outer-container {
          padding: $gutter;
          width: 100%;
          max-width: 600px;
          margin: $gutter auto;
          background-color: white;
          border: $gray-lighter solid 1px;
          border-radius: 5px;
     }
     legend {
          font-size: 24px;
          font-weight: bold;
          margin: 0 auto $gutter;
          text-align: center;
     }
     &__row {
          display: flex;
          flex-flow: row wrap;
          > div {
               flex: 1 0 100%;
               margin-bottom: $gutter-half;
          }
          &--double {
               justify-content: space-between;
               > div {
                    flex: 1 0 100%;
                    @media screen and (min-width: $screen-sm){
                         flex: 0 1 49%;
                    }
               }
          }
     }
     &__col {
          > label,
          > input {
               width: 100%;
               display: inline-block;
          }
          ul {
               margin-top: 0;
               padding-top: 0;
          }
     }
     &__checkbox {
          display: flex;
          align-items: center;
          padding: 0 0 $gutter-half;
     }
     &--steps {
          position: relative;
          .form__container {
               width: 100%;
               &.hide {
                    display: none;
               }
          }
     }
     .social-logins {
          padding-top: $gutter;
     }
     .disclaimer {
          padding-bottom: $gutter/3;
     }
}

%input-style {
     padding: 10px 15px;
     font-size: 16px;
     border: $black solid 1px;
     background-color: $gray-lightest;
     color: black;
     border-radius: 5px;
}

%checkbox-style {
     width: 100%;
     max-width: 100px;
     height: 25px;
     appearance: none;
     -webkit-appearance: none;
     background: $gray;
     border-radius: 25px;
     position: relative;
     border: $gray-darker solid 1px;
     outline: none;
     &:after {
          content: '';
          background: white;
          position: absolute;
          width: 50px;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 25px;
          box-shadow: black 1px 1px 1px;
          opacity: 0.75;
          transition: 200ms;
     }
     &:checked {
          background: $primary;
          &:after {
               left: 50px;
          }
     }
     + label {
          padding: 0 $gutter-half;
     }

}

input {
     &[type='text'],
     &[type='email'],
     &[type='password'],
     &[type='number'],
     &[type='url'],
     &[type='tel'] {
          @extend %input-style;
     }

     &[type='checkbox'] {
          @extend %checkbox-style;
     }
}

.phonefield {
     text-align: center;
}

select {
     @extend %input-style;
     width: 100%;
     -webkit-appearance: none;
     background-color: $white;
     background-image: url(../../images/chevron-down.png);
     background-repeat: no-repeat;
     background-position: center right 10px;
     background-size: 25px;
}

textarea {
     @extend %input-style;
     width: 100%;
}

.email-message {
     padding-top: 15px;
     &__container {
          background-color: $green;
          opacity: 0;
          color: $white;
          text-align: center;
          padding: 10px;
          height: 0;
          visibility: hidden;
          .email-sent & {
               opacity: 1;
               height: auto;
               visibility: visible;
          }
     }
     &__container-error {
          background-color: $red;
          opacity: 0;
          color: $white;
          text-align: center;
          padding: 10px;
          height: 0;
          visibility: hidden;
          .error & {
               opacity: 1;
               height: auto;
               visibility: visible;
          }
     }
}