.header {
     background-color: $secondary;
     padding: 10px 15px;

     &__container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          @media screen and (min-width: $screen-sm){
               flex-flow: row wrap;
          }
     }

     &__menu {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex: 0 1 60%;
     }
     &__logo {
          display: flex;
          align-items: center;
          flex: 0 1 40%;
          img {
               max-width: 50px;
          }
     }
}