
.menu {
     display: flex;
     &__hamburger-wrapper {
          position: relative;
          width: $bar-width;
          // height: $bar-height + $bar-spacing*2;
          margin: $bar-spacing 0;
          cursor: pointer;
          @media screen and (min-width: $menu-breakpoint){
               display: none;
               visibility: hidden;
          }
          &.active {
               ~.menu__nav {
                    display: block;
                    visibility: visible;
               }
          }
     }
     &__hamburger {
          width: $bar-width;
          height: $bar-height;
          // transform: translateY($bar-spacing);
          background: rgba(255, 255, 255, 1);
          transition: all 0ms 300ms;
          &:before {
               content: "";
               position: absolute;
               left: 0;
               bottom: $bar-spacing;
               background: rgba(255, 255, 255, 1);
               transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
               width: $bar-width;
	          height: $bar-height;
          }
          &:after {
               content: "";
               position: absolute;
               left: 0;
               top: $bar-spacing;
               background: rgba(255, 255, 255, 1);
               transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
               width: $bar-width;
	          height: $bar-height;
          }
          &.animate {
               background: rgba(255, 255, 255, 0); 
               &:after {
                    top: 0;
                    transform: rotate(45deg);
                    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
               }
               &:before {
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
               }
          }
     }
     &__list {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-flow: wrap;
     }
     &__list-item {
          font-size: 14px;
          display: flex;
          flex: 0 1 100%;
          padding: 10px;
          align-items: center;
          color: $white;
          @media screen and (min-width: $menu-breakpoint){
               font-size: 15px;
               flex: auto;
          }
          a {
               width: 100%;
               color: white;
               text-align: center;
               font-weight: normal;
               @media screen and (min-width: $menu-breakpoint){
                    width: auto;
               }
          }
          &--bold {
               font-weight: bold;
          }
          &--btn {
               a {
                    @extend .button--primary;
                    color: $white;
                    border-color: $white;
               }
          }
          // &--icon {
          //      &:before {
          //           content: ' ';
          //           display: inline-block;
          //           background-size: contain;
          //           width: $menu-icon-size;
          //           height: $menu-icon-size;
          //      }
          // }
          // &--icon-user {
          //      &:before {
          //           background-image: url(/src/assets/images/user.svg);
          //      }
          // }
     }
     &__nav {
          display: none;
          visibility: hidden;
          @media screen and (max-width: $menu-breakpoint-max){
               position: fixed;
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               max-width: 250px;
               background-color: $primary;
          }
          @media screen and (min-width: $menu-breakpoint){
               display: flex;
               visibility: visible;
          }
     }
}