.msgs {
     padding: $gutter-half;
     border: black solid 1px;
     border-radius: 5px;

     &__item {
          background-color: $gray-lightest;
          margin-bottom: $gutter-half;
          padding: $gutter-half;
          border: $gray-darker solid 1px;
          &:last-child {
               margin-bottom: 0;
          }
          p {
               &:last-child {
                    margin-bottom: 0;
               }
          }
     }
     &__title {
          position: relative;
          font-weight: bold;
          cursor: pointer;
          p {
               cursor: pointer;
               width: 90%;
               margin: 0;
          }
          span {
               position: absolute;
               top: 0;
               right: 0;
               transition: 500ms;
               transform-origin: center;
          }
          &.active {
               span {
                    transform: rotate(180deg);
               }
          }
     }
     &__content {
          display: none;
          flex-flow: row wrap;
          padding-top: $gutter-half;
          &.active { 
               display: flex;
          }
     }
}

.messages {
     &__list {
          .accordion {
               margin-bottom: 15px;
               &:last-child {
                    margin-bottom: 0;
               }
          }
     }
}

.message {
     flex: 0 1 100%;
     margin-bottom: $gutter-half;
     word-break: break-all;
     padding: 5px;
     &--blue {
          text-align: right;
          background-color: $gray-lightest;
     }
}

.send-message {
     flex: 0 1 100%;
     &__container {
          display: flex;
     }
     &__input {
          flex: 1 0 auto;
          margin-right: 5px;
     }
     &__button {
          flex: 0 0 100px;
          background: $green;
          color: $white;
          border-radius: 5px;
     }
}

.create-message {
     padding: 0 0 $gutter;
     &__search {
          input {
               width: 100%;
               margin-bottom: 30px;
          }
     }
}