$modal_btn_size: 40px;

.modal {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: -1;
     opacity: 0;
     transition: 300ms;
     width: 100%;
     height: 100vh;
     background: transparent;
     min-height: 100%;
     overflow: scroll;
     &--active {
          opacity: 1;
          z-index: 99;
          display: flex;
     }

     &__overlay {
          position: absolute;
          background-color: rgba(0,0,0,0.5);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
     }

     &__container {
          z-index: 1;
          width: 100%;
          max-width: 550px;
          margin: auto;
     }

     &__box {
          background-color: white;
          padding: $gutter;
          border-radius: 5px;
          box-shadow: black 1px 1px 10px;
          position: relative;
          h2 {
               margin: 0 0 $gutter-half;
               line-height: 1;
          }
     }

     &__close {
          width: $modal_btn_size;
          height: $modal_btn_size;
          font-size: $modal_btn_size/2;
          position: absolute;
          top: -$modal_btn_size/2;
          right: -$modal_btn_size/2;
          background-color: $primary;
          color: white;
          border-radius: 50%;
          transition: 300ms;
          cursor: pointer;
          &:hover {
               background-color: $primary-hover;
          }
     }
}