.onboarding {
     background-color: $gray-lightest;
     padding: $gutter;

     &__form {
          width: 100%;
          max-width: 640px;
          padding: $gutter;
          position: relative;
          margin: 0 auto;
          background-color: $white;
          border-radius: 5px;
          border: $gray-lighter solid 1px;
          sup {
               color: $red;
          }
     }
     &__section {
          display: none;
          &.active {
               display: block;
          }
          legend {
               @extend %heading--md;
          }
     }

     &__content {
          padding: 0 $gutter;
     }
     &__content-image {
          width: 100%;
          max-width: 400px;
          position: relative;
          margin: 0 auto;
     }

     &__nav {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          padding: $gutter 0 0;
     }

     &__progress {
          padding-bottom: 20px;

          progress {
               width: 100%;
               appearance: none;
               -moz-appearance: none;
               -ms-progress-appearance: none;
               -webkit-appearance: none;
               &[value]::-webkit-progress-value {
                    background-color: $green;
                    border-radius: 25px;
                    transition: 300ms;
               }
               &::-webkit-progress-bar {
                    background-color: $gray-lighter;
                    border-radius: 25px;
                    transition: 300ms;
               }
          }
     }
}