.page-header {
     display: flex;
     background-color: $black;
     color: $white;
     position: relative;
     .home & {
          min-height: 500px;
          @media screen and (min-width: $screen-sm){
               height: 80vh;
          }
     }
     &__container {
          display: flex;
          min-height: 200px;
          justify-content: center;
          align-items: center;
          padding: $gutter-half;
          z-index: 1;
          position: relative;
     }
     &__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.5);
     }
}