.pricing-options {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     &__radio {
          flex: 0 1 49%;
          border: $gray solid 1px;
          padding: 0;
          border-radius: 10px;
          overflow: hidden;
          input[type="radio"] {
               display: none;
          }   
     }
     &__radio-content {
          cursor: pointer;
          &--selected {
               background-color: $green;
               color: white;
               .pricing-options__radio-content-body {
                    .button {
                         color: white;
                         font-weight: bold;
                         background-color: black;
                         span {
                              display: inline;
                         }
                    }
               }
          }
     }
     &__radio-content-header {
          padding: 30px;
          text-align: center;
          background-color: $gray-darker;
          color: $white;
     }
     &__radio-content-header-name {
          font-weight: bold;
     }
     &__radio-content-header-cost {
          span {
               display: block;
               font-size: 36px;
               font-weight: bold;
               line-height: 1;
               margin-bottom: 5px;
          }
     }
     &__radio-content-body {
          padding: 15px 30px;
          ul {
               list-style: none;
               padding: 0;
               margin: 0;
          }
          li {
               margin-bottom: 10px;
               &:last-child {
                    margin-bottom: 0;
               }
          }
          .button {
               width: 100%;
               text-align: center;
               margin-top: 20px;
               span {
                    display: none;
               }
          }
     }
}