$profile-image-size: 350px;

.search {
     &__container {
          padding: $gutter;
     }
     &__compact {
          background-color: rgba(255,255,255,0.75);
          padding: $gutter/2;
          border-radius: 5px;
          border: black solid 1px;
          input[type='text'] {
               width: 100%;
          }
          label {
               color: black;
               font-weight: bold;
          }
          .form__submit {
               text-align: center;
               font-weight: bold;
          }
          .search__input {
               position: relative;
               button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    color: $gray-darker;
               }
          }
     }
     &__input {
          input {
               width: 100%;
          }
     }
     &__results {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
     }
     &__specialties {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          padding: 10px 0;
     }
     &__specialty {
          flex: 0 1 50%;
          padding: 5px;
          text-align: center;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          @media screen and (min-width: $screen-sm){
               flex: 0 1 25%;
          }
          label {
               width: 100%;
          }
     }
}

.p-card {
     flex: 0 1 100%;
     padding: 0 0 $gutter;
     @media screen and (min-width: $screen-sm){
          flex: 0 1 45%;
          padding: $gutter 0;
     }

     &__outer {
          display: flex;
          flex-flow: row wrap;
          border: black solid 1px;
          border-radius: 5px;
          padding: $gutter-half;
          @media screen and (min-width: $screen-sm){

          }
     }
     &__inner {
          flex: 0 1 auto;
          @media screen and (min-width: $screen-sm){
               flex: 0 1 60%;
          }
          &--image {
               flex: 0 1 100%;
               padding-right: 10px;
               text-align: center;
               @media screen and (min-width: $screen-sm){
                    flex: 0 1 40%;
               }
               .profile-image__current img {
                    width: 150px;
                    height: 150px;
               }
          }
     }
     &__title {
          text-transform: capitalize;
     }
     &__button {
          padding-top: $gutter-half;
     }
}


.profile-image {
     &__body {
          display: flex;
          flex-flow: row wrap;
          position: relative;
          width: 100%;
          max-width: $profile-image-size;
          height: $profile-image-size;
     }
     &__current {
          height: 100%;
          img {
               width: 100%;
               height: 100%;
               object-fit: cover;
          }
     }
     &__upload {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          z-index: 1;
          .button {
               width: 100%;
               background-color: rgba(0,0,0,0.5);
               color: white;
               line-height: 1;
               padding: 15px 5px;
               transition: 500ms;
               &:hover {
                    background-color: rgba(0,0,0,1);
               }
          }
          progress,
          input[type="file"] {
               width: 100%;
          }
          input[type="file"] {
               padding-bottom: 15px;
          }
     }
}