.pro {
     &__container {
          padding: $gutter*2 $gutter-half;
          &--bg {
               background-color: $gray-lightest;
          }
     }

     &__head {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-between;
          padding-bottom: $gutter;
     }
     &__head-title {
          flex: 0 1 100%;
          @media screen and (min-width: $screen-sm){
               flex: 0 1 70%;
          }
     }
     &__head-social {
          flex: 0 1 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          @media screen and (min-width: $screen-sm){
               flex: 0 1 25%;
               text-align: right;
          }
     }

     &__body {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          @media screen and (min-width: $screen-sm){
               flex-flow: row nowrap;
          }
     }
     &__body-image {
          flex: 0 1 100%;
          padding-bottom: $gutter;
          @media screen and (min-width: $screen-sm){
               flex: 0 1 30%;
          }
     }
     &__body-about {
          flex: 0 1 100%;
          @media screen and (min-width: $screen-sm){
               flex: 0 1 65%;
          }
     }

     &__pricing {
          padding: $gutter-half 0;
     }

     &__fun {
          color: $white;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          > div {
               width: 100%;
               @media screen and (min-width: $screen-sm){
                    flex: 0 1 49%;
               }
          }
     }

     &__accordion {
          .accordion__list {
               padding: $gutter-half 0;
          }
     }
     &__fun-fact {
          margin-bottom: $gutter-half;
          > div {
               background-color: $green;
          }
     }
     &__fun-quote {
          margin-bottom: $gutter-half;
          > div {
               background-color: $pink;
          }
     }
     &__fun-content {
          padding: $gutter-half $gutter;
          border-radius: 10px;
     }
     &__social {
          text-align: center;
          padding: $gutter*2 0;
          h2 {
               span {
                    text-transform: capitalize;
               }
          }
     }
}

.pro-pricing {
     &__hidden {
          border: $gray solid 1px;
     }
     &__hidden-content {
          width: 100%;
          padding: $gutter;
          max-width: 475px;
          margin: auto;
          text-align: center;
     }
}