.pro-booking {
     padding: $gutter*2 0;

     ol {
          text-align: center;
          padding: 0 0 $gutter;
          li {
               line-height: 1;
               position: relative;
               &:before {
                    position: absolute;
                    top: auto;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    float: none;
                    bottom: -0.65rem;
                    color: $primary;
                    background-color: $primary;
                    width: 1rem;
                    height: 1rem;
               }
               &:hover {
                    color: $primary-hover;
               }
               span {
                    display: block;
               }
               &.go50031923 {
                    //active
                    border-bottom: 4px solid $primary;
                    &:hover {
                         color: $primary-hover;
                    }
               }
               &.go2348636356 {
                    border-bottom: 4px solid $primary;
               }
               &.go2731971035 {
                    &:before {
                         border-radius: 50%;
                    }
               }
          }
     }

     > div > div >div > button {
          @extend %btn-primary;
          margin: 10px;
          &:first-child {
               background-color: $white;
               &:hover {
                    background-color: $gray-lighter;
                    color: $black;
               }
          }
          &:last-child {
               background-color: $green;
               color: white;
               &:hover {
                    background-color: $gray-lighter;
                    color: $black;
               }
          }
     }

     &__container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          // position: relative;
          > div {
               // position: absolute;
               // top: 0;
               // left: 0;
               // @media screen and (min-width: $screen-sm){
               //      flex: 0 1 33%;
               //      width: auto;
               // }
          }
     }

     &__time {
          padding-right: 20px;
     }

     &__start {

     }

     &__form {
          width: 100%;
          max-width: 550px;
          margin: 0 auto;
          text-align: left;
          input {
               background-color: white;
               &.button {
                    background-color: $contrast;
                    color: white;
                    &:hover {
                         background-color: $primary-hover;
                    }
               }
          }

     }
}

#root .react-calendar {
     margin: 0 auto $gutter;
     max-width: 550px;
     &__tile {
          &--active {
               background: $primary;
          }
     }
}

.time-slot {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     width: 100%;
     max-width: 550px;
     margin: 0 auto;
     &__time {
          flex: 0 1 45%;
          width: 100%;
          padding: 10px;
          text-align: center;
          background-color: $primary;
          color: white;
          margin-bottom: 5px;
          border-radius: 5px;
          &:hover {
               background-color: $primary-hover;
          }
          &--selected {
               background-color: $primary-darker;
          }
     }
}