.pro-services {
     &__primary {
          margin-bottom: $gutter*2;
     }
     &__secondary-sub {
          margin-bottom: $gutter;
     }
     &__selections {
          span {
               text-transform: capitalize;
          }
     }
}