.search {
     &__filter {
          display: flex;
          flex-flow: row wrap;
          margin-bottom: 15px;
          &:last-child {
               margin-bottom: 0;
          }
          &--hidden {
               display: none;
          }

          .heading {
               width: 100%;
               margin-bottom: 0;
          }
     }
     &__filter-options {
          label {
               text-transform: capitalize;
          }
     }
     &__input {
          position: relative;
          svg {
               position: absolute;
               right: 10px;
               pointer-events: none;
               top: 0;
               bottom: 0;
               margin: auto;
          }
     }
}