.social-share {
     list-style: none;
     padding: 0;
     margin: 0;
     text-align: right;
     li {
          display: inline-block;
          padding-right: 10px;
          &:last-child {
               padding-right: 0;;
          }
     }
}

.social-share-pro {
     list-style: none;
     padding: 0;
     margin: 0;
     li {
          display: inline-block;
          padding-right: 20px;
          font-size: 20px;
          &:last-child {
               padding-right: 0;;
          }
     }
}