.splash {
     position: relative;
     min-height: 100vh;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     background-image: url(../../images/bg-pattern.jpg);
     &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(black, 0.75);
     }
     > img {
          position: fixed;
          bottom: -15px;
          right: -15px;
     }

     &__beta {
          text-align: center;
          font-weight: bold;
          padding: $spacer $spacer*2;
          font-size: 18px;
     }
     &__beta-btn {
          @extend .button, .button--primary-inverse;
          color: white;
     }

     &__container {
          position: relative;
          padding: 15px 30px;
          z-index: 1;
     }

     &__content {
          text-align: center;
          margin-bottom: 20px;
          color: white;
          width: 100%;
          max-width: 772px;
          margin: 0 auto 20px;

          img {
               width: 100%;
               max-width: 320px;
          }
          p {
               margin: 0;
          }
     }
     &__form {
          width: 100%;
          max-width: 450px;
          margin: 10px auto;
          legend {
               margin-bottom: 10px;
               color: white;
          }
          .phonefield {
               color: white;
          }
          .button {
               color: white;
          }
     }
     .form__submit {
          text-align: center;
     }
}