html {
     height: 100%;
}     
body, #root {
     font-family: $font-primary;
     font-weight: normal;
     font-size: $font-size;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     -webkit-font-smoothing: antialiased;
     margin: 0;
     background-color: $body-bg;
     line-height: 1.4;
}

.container {
     width: 100%;
     max-width: 1170px;
     margin: 0 auto;
}

* {
     box-sizing: border-box;
}

img {
     max-width: 100%;
     height: auto;
}

p {
     margin-top: 0;
     &:last-child {
          margin-bottom: 0;
     }
}

.hide {
     display: none;
     &.show {
          display: block;
     }
}

.text-center {
     text-align: center;
}

.text-white {
     color: $white;
}

.screen-reader-text {
     position:absolute;
     left:-10000px;
     top:auto;
     width:1px;
     height:1px;
     overflow:hidden;
}

.loading {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     text-align: center;
}

.fade {
     transition: 300ms;
     opacity: 0;
     &--in {
          opacity: 1;
     }
}