.col {
     &__3 {
          flex: 0 1 100%;
          @media screen and (min-width: $screen-sm){
               flex: 0 1 50%;
          }
          @media screen and (min-width: $screen-md){
               flex: 0 1 33%;
          }
     }
     &__12 {
          flex: 0 1 100%;
     }
}