
@mixin fluid-val($properties, $min-val, $max-val, $min-vw: $fluid-val-min-vw , $max-vw: $fluid-val-max-vw, $set-min-bound: true, $set-max-bound: true) {
     $u1: unit($min-vw);
     $u2: unit($max-vw);
     $u3: unit($min-val);
     $u4: unit($max-val);
     @if $u1 == $u2 and $u3 == $u4 {
          & {
               @if $set-min-bound {
                    @each $prop in $properties {
                         #{$prop}: $min-val;
                    }
               }
               @if $min-val != $max-val {
                    @media screen and (min-width: $min-vw) and (max-width: $max-vw - 1) {
                         @each $prop in $properties {
                              #{$prop}: calc(#{$min-val} + #{multiplier($max-val - $min-val)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
                         }
                    }
                    @if $set-max-bound {
                         @media screen and (min-width: $max-vw) {
                              @each $prop in $properties {
                                   #{$prop}: $max-val;
                              }
                         }
                    }
               }
          }
     }
}
 
 @mixin fluid-type($min-font-size, $max-font-size, $min-vw: $fluid-val-min-vw , $max-vw: $fluid-val-max-vw, $set-min-bound: true, $set-max-bound: true) {
     @include fluid-val((font-size), $min-font-size, $max-font-size, $min-vw, $max-vw, $set-min-bound, $set-max-bound);
}
 
 