[tabindex="-1"]:focus {
     outline: 0 !important;
}

fieldset {
     border: none;
     padding: 0;
     margin: 0;
}

button {
     border: none;
     margin: 0;
     padding: 0;
     width: auto;
     overflow: visible;
     background: transparent;
     /* inherit font & color from ancestor */
     color: inherit;
     font: inherit;
     /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
     line-height: normal;
     /* Corrects font smoothing for webkit */
     -webkit-font-smoothing: inherit;
     -moz-osx-font-smoothing: inherit;
     /* Corrects inability to style clickable `input` types in iOS */
     -webkit-appearance: none;
     &::-moz-focus-inner {
          /* Remove excess padding and border in Firefox 4+ */
          border: 0;
          padding: 0;
     }
}

hr {
     box-sizing: content-box; // 1
     height: 0; // 1
     overflow: visible; // 2
}