// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Quicksand', sans-serif; 
$font-size: 16px;
$heading-font: $font-secondary;

// Basic
$white: #fff;
$black: #000;
$gray-base: black;
$gray-darker: #2e343a;
$gray: gray;
$gray-light: #96a0a9;
$gray-lighter: #b6b6b6;
$gray-lightest: #eff3f6;

$primary: #4f63a2;
$primary-hover: #23282d;
$primary-darker: #23282d;
$secondary: #1b4588;
$contrast: #1bad51;

$green: $contrast;
$pink: #f08080;
$red: #aa0101;

// Body
$body-bg: $white;
$spacer: 25px;

// Breakpoints
$screen-xxs: 0; // iPhone5
$screen-xs: 320px;
$screen-sm: 768px; // tablet
$screen-md: 991px;
$screen-lg: 1200px;

// Menu
$bar-width: 40px;
$bar-height: 3px;
$bar-spacing: $bar-height*3;
$menu-breakpoint: $screen-sm;
$menu-breakpoint-max: $menu-breakpoint - 1px;
$menu-icon-size: 20px;

// Fluid Text
$fluid-val-min-vw: $screen-xs !default;
$fluid-val-max-vw: $screen-lg !default;

// Spacing
$gutter: 30px;
$gutter-half: $gutter/2;

// Social Colors
$facebook: #3b579d;
$google: #4285F4;